<html>
<body>
    <div class="login">
         
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Concrete Compressive Strength Predictor</legend>
        </h1>
         <div class="input_box">
            <label class="form-label">Cement      :</label>
            <input class="input_box" type="number" name="cement"
                placeholder="Enter the value in kg/m3 (range 100 to 550)" min='100' max='550' />
        </div>
        <div class="mb-3">
            <label class="form-label">blast_furnace_slag   :</label>
            <input class="form-control" type="number" name="blast_furnace_slag"
                placeholder="Enter the value in kg/m3 (range 0 to 400)" min='0' max='400' />
        </div>
        <div class="mb-3">
            <label class="form-label">fly_ash    :</label>
            <input class="form-control" type="number" name="fly_ash"
                placeholder="Enter the value in kg/m3 (range 0 to 200)" min='0' max='200' />
        </div>
        <div class="mb-3">
            <label class="form-label">water     :</label>
            <input class="form-control" type="number" name="water"
                placeholder="Enter the value in kg/m3 (range 100 to 300)" min='100' max='300' />
        </div>
        <div class="mb-3">
            <label class="form-label">superplasticizer   :</label>
            <input class="form-control" type="number" name="superplasticizer"
                placeholder="Enter the value in kg/m3 (range 0 to 33)" min='0' max='33' />
        </div>
        <div class="mb-3">
            <label class="form-label">coarse_aggregate :</label>
            <input class="form-control" type="number" name="coarse_aggregate"
                placeholder="Enter the value in kg/m3 (range 800 to 1200)" min='800' max='1200' />
        </div>
        <div class="mb-3">
            <label class="form-label">fine_aggregate  :</label>
            <input class="form-control" type="number" name="fine_aggregate"
                placeholder="Enter the value in kg/m3 (range 500 to 1000)" min='500' max='1000' />
        </div>
        <div class="mb-3">
            <label class="form-label">age    </label>
            <input class="form-control" type="number" name="age"
                placeholder="No of Days (range 1 to 100)" min='1' max='365' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict CONCRETE COMPRESSIVE STRENGTH " required />
        </div>
    </form>
    <h2>
       CONCRETE COMPRESSIVE 
    </h2>

    <h2>
        STRENGTH PREDICTION IS = {{results}} mPa
                 
     </h2>
     <center >  - Project By Paul Praveen 
      </center >
   <body>
</html>




